/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* -- header -- */

.en-tete{
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    width: 161.09px;
    height: 79px;
}

.logo img{
    width: 61.09px;
    height: 19px;
}

menu{
    display: flex;
    gap: 68px;
}

li{
    list-style-type: none;
}

menu li{
    border-top: solid transparent 2px;
    padding-top: 16px;
}

menu li:hover{
    border-top: solid #0065FC 2px;
    color: #0065FC;
}

/* -- info group -- */

.info-group{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.titre{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1{
    font-size: 1.2em;
}

.infobar h2{
    font-weight: 400;
    font-size: 1em;
}

/* -- recherche -- */

.form-recherche{
    display: flex;
    width: 377px;
    height: 49px;
    border: solid #F2F2F2 1px;
    border-radius: 15px;
}

.icone-localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* évite "l'écrasement" de l'icone quand l'écran est plus petit */
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

.icone-localisation .fa-solid{
    color: black;
}

.icone-rechercher .fa-solid{
    display: none;
    color: white;
}

.champs{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    border: none;
}

.rechercher{
    width: 132px;
    background-color: #0065FC;
    border: solid #0065FC 1px;
    border-radius: 00px 15px 15px 0px;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    flex-shrink: 0;
}

/* --Filtres -- */

.filtres{
    width: 55%;
    height: 50px;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filtre-bloc-bouton{
    width: 100%;
    display: flex;
    gap: 10px;
}

.filtre-bloc-bouton p{
    width: 100%;
    height: 50px;
    border: solid #d9d9d9 2px;
    border-radius: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /*évite les retour à la ligne automatique*/
    padding: 4px 19px;
    gap: 10px;
}

.filtre-bloc-bouton p:hover{
    background-color: #DEEBFF;
}

/* -- infobar -- */

.infobar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.iconeinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: solid #d9d9d9 1px;
    border-radius: 90px;
    flex-shrink: 0;
}

.infobar p{
    font-weight: 400;
    font-size: 1em;
}

/* --base de code -- */

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {    
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0px 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergement-cards{
    width: 250.33px;
}

.hebergement-cards img{
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergement-cards .card-content{
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.hebergement-bloc1, .hebergement-bloc2{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.section-plus{
    margin: 0;
    font-size: 1.1em;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* --Activités -- */

.activites{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.bloc-activite-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.activite-card{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;    
}

.activite-text{
    padding: 20px 19px 20px 19px;
    height: 59px;
    display: flex;
    align-items: center;
}

.activite-card img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/* -- footer -- */

footer{
    display: flex;
    background-color: #F2F2F2;
}

.liste-footer{
    width: 100%;
    padding: 20px;
}

.liste-footer ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li b{
    font-size: 1em;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 70%;
    }

    .activite-card{
        width: 100%;
    }

    .activite-card img{
        height: 200px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container{
        padding: 0;
    }

    /* -- header -- */

    .en-tete{
        flex-direction: column;
        align-items: center;
        height: 115px;
    }
    .logo{
        justify-content: center;
        padding: 30px;
    }

    nav{
        width: 100%;
    }

    menu{
        display: flex;
        gap: 0;
    }

    menu li{
        padding-top: 0;
        padding-bottom: 15px;
        width: 100%;
        text-align: center;
        border-top: none;
        border-bottom: solid #d9d9d9 2px;
    }

    menu li:hover{
        border-top: none;
        border-bottom: solid #0065FC 2px;
        color: #0065FC;
    }

    /* -- recherche -- */

    .info-group{
        padding: 0 30px;
    }

    .form-recherche .rechercher{
        display: none;
    }

    .form-recherche{
        width: 100%;
        justify-content: space-between;
    }

    .form-recherche .icone-rechercher{
        width: 49px;
        background-color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 15px;
    }

    .icone-rechercher .fa-solid{
        color: white;
        display: block;
    }

    .champs{
        width: 100%;
    }

    /* -- filtre -- */

    .filtres{
        width: 100%;
    }

    .filtre-bloc-bouton p{    
        width: auto;
    }

    .filtre-bloc-bouton{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* -- hébergements et populaires -- */

    .hebergements-and-populaires{
        flex-direction: column-reverse;
        gap: 0;
    }

    .hebergements-and-populaires section{
        border-radius: 0;
    }
    .populaires .populaires-cards{
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a{
        width: 100%;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergement-bloc1, .hebergement-bloc2{
        flex-direction: column;
    }


    .hebergement-cards{
        width: 100%;
    }

    /* -- activités -- */

    .activites{
        padding-top: 0;
    }

    .bloc-activite-cards{
        display: flex;
        flex-direction: column;
    }

    .activite-card img{
        height: 141px;
    }

    /* -- footer -- */

    footer{
        flex-direction: column;
    }
}
/* ExtraSmall devices (phones, less than 385px) */
@media (max-width: 384px) {
    .filtre-bloc-bouton{
        display: flex;
        flex-direction: column;
    }
}    
    /* ... */